<% layout('layouts/auth') %>
<form action="/users" method="POST" id="form" class="needs-validation" novalidate>

  <h3 class="mb-3 pb-3">Sign up</h3>

  <div class="form-group mb-4">
    <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder="Name" required>
    <div class="invalid-feedback">
      Name is required.
    </div>
  </div>

  <div class="form-group mb-4">
    <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="Email address" required>
    <div class="invalid-feedback">
      Please enter a valid email.
    </div>
  </div>

  <div class="form-group mb-4">
    <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Password" required>
    <div class="invalid-feedback">
      Password is required.
    </div>
  </div>
  
  <div class="pt-1 mb-4">
    <button type="submit" class="btn btn-info w-100 text-light text-uppercase" style="font-weight: bold;">Sign Up</button>
  </div>

  <p class="mb-3">Already registered? <a href="/users/login" class="link-info">Log in here</a></p>
</form>